.focusAnime {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    width: 100%;
}

.poster {
    display: flex;
    width: auto;
    height: 100%;
}

.top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.top__right {
    padding-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: auto;
}

.top__right h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    color: white;
    font-family: "Fredoka One";
    height: fit-content;
}

.top__right p {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: 300;
    color: white;
    }

.focusAnime__container {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerLeft {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 735px;
    background-color: #282626;
    border : 4px solid black;
    border-radius: 30px;
}

.episodes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.addEpisodes {
    margin-bottom: 5px;
    font-family: "QUANTU";
}

.containerRight {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
} 

.buttonFocus Button{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 90%;
    background-color: #eb6c45;
    border: 1px solid white;
    color: white;
    font-family: "QUANTU";
    font-size: 1.5em;
}

.buttonFocus Button:hover {
    background-color: #e0934a;
    color: #282626;
    border: 1px solid #333333;
}

.detailsContainer {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: #282626;
    border : 4px solid black;
    border-radius: 15px;
}

.detailsContainer b {
    font-size: 1.2em;
}

.detailsContainer p {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 300;
    color: white;
}

.separation {
    margin-top: 15px;
    margin-bottom: 15px;
    
    width: 90%;
    height: 1px;
    background-color: lightgray;
}

.focusAnime__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform: translateZ(1px);
}

.focusAnime__loading img {
    height: 200px;
    width: 200px;
}


.focusAnime__loading > img {
    animation: focusAnime__loading 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes focusAnime__loading {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
