.main {
    padding: 0;
    margin: 0;
}

.app {
    background-color: #333333;
}

.header {
    display: flex;
    background-color: #282626;
    width: 100%;
}

.title {
    height: 55px;
    display: flex;
    text-decoration: none;
}

.searchBar {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    right: 10px;
    width: 20%;
    
}

.searchBar input {
    display: flex;
    height: 45px;
    width: 100%;
    border: none;
    font-family: "QUANTU";
    font-size: 1.4em;
}

.navbar {
    height: auto;
    background-color: #e3a163;
}

.link {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.navbar Button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 90%;
    background-color: #eb6c45;
    border: 1px solid white;
    color: white;
    font-family: "QUANTU";
    font-size: 1.5em;
}

.navbar Button:hover {
    background-color: #e0934a;
    color: #282626;
    border: 1px solid #333333;
}

