@font-face {
  font-family: "Fredoka One";  
  src: local("FredokaOne-Regular"),
    url("./fonts/FredokaOne-Regular") format("truetype");
}

@font-face {
  font-family: "QUANTU";   
  src: local("QUANTU1H"),
    url("./fonts/QUANTU1H.TTF") format("truetype");
}

body {
  margin: 0;
  display: flex;
  width: 90%;
}

.mantine-AppShell-main {
  /*padding-top :calc(var(--mantine-header-height, 0px));*/
  /*padding-left :calc(var(--mantine-navbar-width, 0px));*/
  padding-bottom: 0px;
  padding-right: 0px;
}

@media screen and (max-width: 768px) {
  .mantine-AppShell-main {
    padding-top: 0px;
    padding-left: 0px;
  }
}
  



